<html>
	<head>
		<title>Planifi</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link href="/css/home.css" rel="stylesheet" type="text/css" />
		<script src="/public/js/user-auth.js"></script>
		<link href="/css/nav.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<nav>
			<div class="logo">
				<span>PLANIFI</span>
			</div>
			<ul class="nav-links">
				<li><a href="/">Home</a></li>
				<li><a href="/navigation">Services</a></li>
				<li><a href="/contact">Contact Us</a></li>
				<li>
					<div class="dropdown">
						<button class="dropbtn">Profil</button>
						<div class="dropdown-content">
							<a href="#" class="nav-link" id="profile-link"
								>>Voir Profil</a
							>
							<a id="logout-button">Déconnexion</a>
						</div>
					</div>
				</li>
			</ul>
			<div class="hamburger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
		</nav>
		<div class="header">
			<div class="inner-header flex">
				<h1>PLANIFI</h1>
			</div>

			<div>
				<svg
					class="waves"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					viewBox="0 24 150 28"
					preserveAspectRatio="none"
					shape-rendering="auto"
				>
					<defs>
						<path
							id="gentle-wave"
							d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
						/>
					</defs>
					<g class="parallax">
						<use
							xlink:href="#gentle-wave"
							x="48"
							y="0"
							fill="rgba(255,255,255,0.7)"
						/>
						<use
							xlink:href="#gentle-wave"
							x="48"
							y="3"
							fill="rgba(255,255,255,0.5)"
						/>
						<use
							xlink:href="#gentle-wave"
							x="48"
							y="5"
							fill="rgba(255,255,255,0.3)"
						/>
						<use
							xlink:href="#gentle-wave"
							x="48"
							y="7"
							fill="#fff"
						/>
					</g>
				</svg>
			</div>
		</div>

		<div class="round-cards-container flex-center">
			<a href="connexion" class="round-card-link">
				<div class="card-border">
					<div class="round-card" id="login-card"></div>
				</div>
			</a>
			<a href="inscription" class="round-card-link">
				<div class="card-border">
					<div class="round-card" id="signup-card"></div>
				</div>
			</a>
		</div>

		<div class="content flex">
			<p></p>
		</div>

		<script>
			document.addEventListener('DOMContentLoaded', () => {
				// Utilisez la fonction checkUserLoggedIn pour déterminer si l'utilisateur est connecté.
				const isLoggedIn = getCookie('clientID') ? true : false;

				// Sélectionnez les éléments à montrer/cacher
				const roundCardsContainer = document.querySelector(
					'.round-cards-container'
				);
				const profileLink = document.getElementById('profile-link');
				const logoutButton = document.getElementById('logout-button');
				const searchBar = document.getElementById('search-bar');

				// Si l'utilisateur est connecté
				if (isLoggedIn) {
					// Cache les ronds de connexion et d'inscription
					if (roundCardsContainer) {
						roundCardsContainer.style.display = 'none';
					}

					// Affiche le lien du profil avec l'ID client récupéré du cookie
					const clientID = getCookie('clientID');
					profileLink.href = `/profil/${clientID}`;
					profileLink.textContent = 'Voir Profil';
					profileLink.style.display = 'block';
					searchBar.style.display = 'block';

					// Gérer le clic sur le bouton de déconnexion
					logoutButton.addEventListener('click', () => {
						deleteCookie('clientID'); // Supprime le cookie de connexion
						window.location.href = '/connexion'; // Redirige vers la page de connexion
					});

					// Changez le texte du bouton de profil pour afficher "Profil"
					const dropbtn = document.querySelector('.dropbtn');
					dropbtn.textContent = 'Profil';

					// Affiche la barre de navigation
					const navbar = document.querySelector('nav');
					navbar.style.display = 'flex';
				} else {
					// Cache la barre de navigation si l'utilisateur n'est pas connecté
					const navbar = document.querySelector('nav');
					navbar.style.display = 'none';

					// Affiche les ronds de connexion et d'inscription
					if (roundCardsContainer) {
						roundCardsContainer.style.display = 'flex';
					}
				}
			});
		</script>
	</body>
</html>
