<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Planifi - Login</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link
			rel="stylesheet"
			href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
		/>
		<link href="/css/login.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="header flex-center">
			<!-- SVG pour les vagues -->
			<svg
				class="waves"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				viewBox="0 24 150 28"
				preserveAspectRatio="none"
				shape-rendering="auto"
			>
				<defs>
					<path
						id="gentle-wave"
						d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
					/>
				</defs>
				<g class="parallax">
					<use
						xlink:href="#gentle-wave"
						x="48"
						y="0"
						fill="rgba(255,255,255,0.7)"
					/>
					<use
						xlink:href="#gentle-wave"
						x="48"
						y="3"
						fill="rgba(255,255,255,0.5)"
					/>
					<use
						xlink:href="#gentle-wave"
						x="48"
						y="5"
						fill="rgba(255,255,255,0.3)"
					/>
					<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
				</g>
			</svg>
			<!-- Boîte de connexion -->
			<div class="container my-auto">
				<div class="row justify-content-center">
					<div class="col-md-6 col-sm-8">
						<div class="card px-5 py-4">
							<form id="login-form">
								<h4>Log In</h4>
								<div class="form-group">
									<input
										type="email"
										class="form-control"
										name="email"
										id="email"
										placeholder="Email"
										required
									/>
									<i class="uil uil-at input-icon"></i>
								</div>
								<div class="form-group">
									<input
										type="password"
										class="form-control"
										name="password"
										id="password"
										placeholder="Password"
										required
									/>
									<i class="uil uil-lock-alt input-icon"></i>
								</div>
								<button type="submit" class="btn btn-primary">
									Login
								</button>
								<p class="mt-2">
									<a href="#" class="link"
										>Forgot your password?</a
									>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			document
				.getElementById('login-form')
				.addEventListener('submit', async (event) => {
					event.preventDefault(); // Prevent form submission by default

					const email = document.getElementById('email').value;
					const password = document.getElementById('password').value;

					const response = await fetch('/connexion', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({ email, password }),
					});

					if (response.status === 200) {
						// Authentication successful, redirect the user to the profile page
						const userData = await response.json();
						if (userData.users_id) {
							window.location.href = `/profil/${userData.users_id}`;
						} else if (userData.professional_id) {
							window.location.href = `/profil/${userData.professional_id}`;
						}
					} else {
						// Handle failed authentication, for example by displaying an error message
						console.log("Échec de l'authentification");
					}
				});
		</script>
	</body>
</html>
