<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Navigation</title>
	</head>
	<body>
		<h1>Services</h1>
		<ul id="services-list"></ul>
		<ul id="professionals-list"></ul>

		<script>
			// Fonction pour effectuer une requête API et afficher les noms d'entreprise des services
			function getProfessionals() {
				fetch('/professionals', { method: 'GET' })
					.then((response) => response.json())
					.then((professionals) => {
						const professionalsList =
							document.getElementById('professionals-list');
						professionals.forEach((professional) => {
							// Créez un lien pour accéder aux détails des services en incluant l'ID du professionnel dans l'URL
							const listItem = document.createElement('li');
							const link = document.createElement('a');
							link.href = `/services.html?professionalId=${professional.professional_id}`;
							link.textContent = professional.company_name; // Affichez le nom de l'entreprise
							listItem.appendChild(link);
							professionalsList.appendChild(listItem);
						});
					})
					.catch((error) => {
						console.error(
							'Erreur lors de la récupération des professionnels:',
							error
						);
					});
			}

			// Appeler la fonction pour obtenir la liste des professionnels lors du chargement de la page
			document.addEventListener('DOMContentLoaded', getProfessionals);
		</script>
	</body>
</html>
