<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Profil du Professionnel</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link rel="stylesheet" type="text/css" href="/css/profil-pro.css" />
	</head>
	<body>
		<div class="container">
			<h1>Profil du Professionnel</h1>
			<div id="professional-profile">
				<!-- Les informations du profil professionnel affichées ici -->
			</div>
			<h1>Mes Services</h1>
			<div id="professional-services">
				<!-- Les services du professionnel seront affichés ici -->
			</div>
			<button id="logout-button">Déconnexion</button>
			<button id="calendar-button">Calendrier</button>
			<button id="add-service-button">Ajouter un service</button>
		</div>
		<script src="../public/js/profil-pro.js"></script>
	</body>
</html>
