<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Profil du Professionnel</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<link href="/css/nav.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/css/profil-pro.css" />
		<script src="/public/js/user-auth.js"></script>
	</head>
	<body>
		<nav>
			<div class="logo">
				<span>PLANIFI</span>
			</div>
			<ul class="nav-links">
				<li><a href="/">Home</a></li>
				<li><a href="/navigation">Services</a></li>
				<li><a href="/contact">Contact Us</a></li>
				<li>
					<div class="dropdown">
						<button class="dropbtn">Profil</button>
						<div class="dropdown-content">
							<a href="#" class="nav-link" id="profile-link"
								>>Voir Profil</a
							>
							<a id="logout-button">Déconnexion</a>
						</div>
					</div>
				</li>
			</ul>
			<div class="hamburger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
		</nav>
		<input type="hidden" id="professional-id" value="valeur_de_l_ID" />

		<div class="profile-image">
			<img src="/img/1.png" alt="Photo de profil" id="profile-image" />
		</div>

		<input
			type="file"
			accept="image/*"
			id="file-input"
			style="display: none"
		/>

		<div class="container">
			<h1>Profil du Professionnel</h1>
			<div id="professional-profile">
				<!-- Les informations du profil professionnel affichées ici -->
			</div>
			<h3 id="services-heading">
				Mes services <span class="arrow-down">&#9660;</span>
			</h3>

			<div id="professional-services">
				<!-- Les services du professionnel seront affichés ici -->
			</div>
			<!-- Ajouter un bouton pour fermer le formulaire -->

			<button id="calendar-button">Calendrier</button>
			<button id="add-service-button">Ajouter un service</button>
		</div>

		<script src="/public/js/profil-pro.js"></script>

		<script src="../public/js/add-service.js"></script>
	</body>
</html>
