<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Profil du Client</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<style>
			.delete-icon {
				cursor: pointer;
				color: red;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h1>Profil du Client</h1>
			<div id="client-profile">
				<!-- Les informations du profil client affichées ici -->
			</div>
			<h2>Mes Réservations</h2>
			<div id="reservations-list">
				<!-- Les réservations du client seront affichées ici -->
			</div>
			<button id="logout-button">Déconnexion</button>
		</div>

		<script>
			document.addEventListener('DOMContentLoaded', () => {
				const clientProfileDiv =
					document.getElementById('client-profile');
				const reservationsListDiv =
					document.getElementById('reservations-list');

				fetch('/profil/client/${clientID}')
					.then((response) => {
						if (!response.ok) {
							throw new Error('La requête a échoué');
						}
						return response.json();
					})
					.then((data) => {
						const clientID = data.clientID;
						clientProfileDiv.innerHTML = `
                    <h2>Nom : ${data.firstName} ${data.lastName}</h2>
                    <p>Email : ${data.email}</p>
                    <p>Téléphone : ${data.phone}</p>
                `;
					})
					.catch((error) => {
						console.error(
							'Erreur lors de la récupération du profil client:',
							error
						);
					});

				fetch(`/reservations/client`)
					.then((response) => {
						if (!response.ok) {
							throw new Error('La requête a échoué');
						}
						return response.json();
					})
					.then((data) => {
						if (data.length > 0) {
							const reservationsHTML = data
								.map(
									(reservation) => `
                            <p>Réservation : ${reservation.start} - ${reservation.title} (${reservation.service_name})
                            <span class="delete-icon" data-reservation-id="${reservation.id}">&#10006;</span></p>
                        `
								)
								.join('');
							reservationsListDiv.innerHTML = reservationsHTML;
						} else {
							reservationsListDiv.innerHTML =
								'Aucune réservation trouvée';
						}
					})
					.catch((error) => {
						console.error(
							'Erreur lors de la récupération des réservations du professionnel :',
							error
						);
					});

				reservationsListDiv.addEventListener('click', (event) => {
					if (event.target.classList.contains('delete-icon')) {
						const reservationId = event.target.getAttribute(
							'data-reservation-id'
						);
						if (
							confirm(
								'Voulez-vous vraiment supprimer cette réservation ?'
							)
						) {
							fetch(`/supprimer-reservation/${reservationId}`, {
								method: 'DELETE',
							})
								.then((response) => {
									if (response.ok) {
										// Actualisez la liste des réservations
										fetchAndDisplayReservations();
									} else {
										console.error(
											'Échec de la suppression de la réservation'
										);
									}
								})
								.catch((error) => {
									console.error(
										'Erreur lors de la suppression de la réservation:',
										error
									);
								});
						}
					}
				});

				document
					.getElementById('logout-button')
					.addEventListener('click', () => {
						fetch('/deconnexion/client', { method: 'POST' })
							.then((response) => {
								if (response.ok) {
									// Redirect the user to the login page after logging out
									window.location.href = '/connexion';
								} else {
									console.error('Échec de la déconnexion');
								}
							})
							.catch((error) => {
								console.error(
									'Erreur lors de la déconnexion:',
									error
								);
							});
					});
			});
		</script>
	</body>
</html>
