<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Profil du Professionnel</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
	</head>
	<body>
		<div class="container">
			<h1>Profil du Professionnel</h1>
			<div id="professional-profile">
				<!-- Les informations du profil professionnel affichées ici -->
			</div>
			<button id="logout-button">Déconnexion</button>
			<button id="calendar-button">Calendrier</button>
		</div>
		<script>
			document.addEventListener('DOMContentLoaded', () => {
				fetch(`/profil/professionnel/${professionalID}`)
					.then((response) => {
						if (!response.ok) {
							throw new Error('La requête a échoué');
						}
						return response.json();
					})
					.then((data) => {
						const professionalProfileDiv = document.getElementById(
							'professional-profile'
						);
						professionalProfileDiv.innerHTML = `
			                 <h2>Nom de l'entreprise : ${data.company_name}</h2>
			                 <p>Nom du professionnel : ${data.firstName} ${data.lastName}</p>
			                 <p>Email : ${data.email}</p>
			                 <p>Téléphone : ${data.phone}</p>
			                 <p>Adresse de l'entreprise : ${data.company_address}</p>
			             `;
					})
					.catch((error) => {
						console.error(
							'Erreur lors de la récupération du profil professionnel:',
							error
						);
					});
				document
					.getElementById('logout-button')
					.addEventListener('click', () => {
						fetch('/deconnexion/client', { method: 'POST' })
							.then((response) => {
								if (response.ok) {
									// Redirect the user to the login page after logging out
									window.location.href = '/connexion';
								} else {
									console.error('Échec de la déconnexion');
								}
							})
							.catch((error) => {
								console.error(
									'Erreur lors de la déconnexion:',
									error
								);
							});
					});
				const calendarButton =
					document.getElementById('calendar-button');

				calendarButton.addEventListener('click', () => {
					// Redirects the user to the "availability.html" page
					window.location.href = '/availability.html';
				});
			});
		</script>
	</body>
</html>
