<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Réservation</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
		<script src="/public/js/user-auth.js"></script>
	</head>
	<body>
		<h1>Réservez un rendez-vous</h1>
		<div id="service-info"></div>

		<label for="date">Choisissez une date :</label>
		<input type="date" id="date" />

		<button id="show-hours-button">Afficher les heures</button>

		<div id="hours-table"></div>

		<button id="reserve-button">Réserver</button>

		<div id="message"></div>

		<script src="/public/js/reservation_front.js"></script>
	</body>
</html>
