<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Liste des Services</title>
		<style>
			.modal {
				display: none;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.7);
				z-index: 1;
			}

			.modal-content {
				background-color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				padding: 20px;
				border: 1px solid #ccc;
			}
			.calendar-container {
				width: 150%;
				height: 100%;
			}
		</style>
		<script src="/public/js/user-auth.js"></script>
	</head>
	<body>
		<h1>Liste des Services</h1>
		<ul id="services-list"></ul>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>

		<script>
			const urlParams = new URLSearchParams(window.location.search);
			const professionalId = urlParams.get('professionalId');

			function reserveService(serviceId) {
				window.location.href = `/reservations.html?professionalId=${professionalId}&serviceId=${serviceId}`;
			}

			// Fonction pour effectuer une requête API et afficher les services
			function getServices() {
				let clientID;
				if (professionalId) {
					fetch(`/liste-services/${professionalId}`, {
						method: 'GET',
					})
						.then((response) => response.json())
						.then((services) => {
							const servicesList =
								document.getElementById('services-list');
							services.forEach((service) => {
								const listItem = document.createElement('li');
								const durationHours = service.duration.hours;
								listItem.innerHTML = `
                            <strong>Service: </strong>${service.service_name}<br>
                            <strong>Description: </strong>${service.service_description}<br>
                            <strong>Prix: </strong>${service.service_price} €<br>
                            <strong>Durée: </strong>${durationHours} heures<br>
                            <strong>Professionnel: </strong>${service.email}<br>
                            <strong>Téléphone: </strong>${service.phone}<br>
                            <strong>Entreprise: </strong>${service.company_name}<br>
                            <strong>Adresse: </strong>${service.company_address}<br><br>
                            <button onclick="reserveService(${service.service_id}, '${professionalId}')">Réserver</button>

                        `;

								servicesList.appendChild(listItem);
							});
							console.log(services);
						})
						.catch((error) => {
							console.error(
								'Erreur lors de la récupération des services:',
								error
							);
							console.log(service);
						});
				} else {
					console.error("ID du professionnel non défini dans l'URL");
				}
			}
			// Appeler la fonction pour obtenir la liste des services lors du chargement de la page
			document.addEventListener('DOMContentLoaded', getServices);
		</script>
	</body>
</html>
