<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Liste des Services</title>

		<link href="/css/nav.css" rel="stylesheet" type="text/css" />
		<link href="/css/services.css" rel="stylesheet" type="text/css" />
		<script src="/public/js/user-auth.js"></script>
	</head>
	<body>
		<nav>
			<div class="logo">
				<span>PLANIFI</span>
			</div>
			<ul class="nav-links">
				<li><a href="/">Home</a></li>
				<li><a href="/navigation">Services</a></li>
				<li><a href="/contact">Contact Us</a></li>
				<li>
					<div class="dropdown">
						<button class="dropbtn">Profil</button>
						<div class="dropdown-content">
							<a href="#" class="nav-link" id="profile-link"
								>>Voir Profil</a
							>
							<a id="logout-button">Déconnexion</a>
						</div>
					</div>
				</li>
			</ul>
			<div class="hamburger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
		</nav>
		<div class="container">
			<button id="cancel-button">Retour</button>

			<h1>Liste des Services</h1>
			<ul id="services-list"></ul>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>

		<script>
			const urlParams = new URLSearchParams(window.location.search);
			const professionalId = urlParams.get('professionalId');

			function reserveService(serviceId) {
				window.location.href = `/reservations.html?professionalId=${professionalId}&serviceId=${serviceId}`;
			}

			// Fonction pour effectuer une requête API et afficher les services
			function getServices() {
				let clientID;
				if (professionalId) {
					fetch(`/liste-services/${professionalId}`, {
						method: 'GET',
					})
						.then((response) => response.json())
						.then((services) => {
							const servicesList =
								document.getElementById('services-list');
							services.forEach((service) => {
								const card = document.createElement('div');
								card.classList.add('service-card'); // Ajoutez une classe pour les cartes

								const duration = service.duration;
								let durationString = '';

								if (duration.hours > 0) {
									durationString += `${duration.hours} heure${
										duration.hours > 1 ? 's' : ''
									}`;
								}

								if (duration.minutes > 0) {
									if (durationString.length > 0) {
										durationString += ' ';
									}
									durationString += `${
										duration.minutes
									} minute${duration.minutes > 1 ? 's' : ''}`;
								}
								card.innerHTML = `
								<strong class="service-info service-name">Service: </strong>${service.service_name}<br>
								<div class="additional-info">
       <strong class="service-info">Description: </strong>${service.service_description}<br>
        <strong class="service-info">Prix: </strong>${service.service_price} €<br>
       <strong class="service-info">Durée: </strong>${durationString}<br>
        <strong class="service-info">Professionnel: </strong>${service.email}<br>
        <strong class="service-info">Téléphone: </strong>${service.phone}<br>
        <strong class="service-info">Entreprise: </strong>${service.company_name}<br>
        <strong class="service-info">Adresse: </strong>${service.company_address}<br><br>
        <button onclick="reserveService(${service.service_id}, '${professionalId}')">Réserver</button><br>
		</div>

    `;

								servicesList.appendChild(card);
							});

							console.log(services);
						})
						.catch((error) => {
							console.error(
								'Erreur lors de la récupération des services:',
								error
							);
							console.log(service);
						});
				} else {
					console.error("ID du professionnel non défini dans l'URL");
				}
			}
			// Appeler la fonction pour obtenir la liste des services lors du chargement de la page
			document.addEventListener('DOMContentLoaded', getServices);
		</script>

		<script>
			const clientID = getCookie('clientID');
			const profileLink = document.getElementById('profile-link');
			profileLink.href = `/profil/${clientID}`;
			profileLink.textContent = 'Voir Profil';
			profileLink.style.display = 'block';

			document
				.getElementById('logout-button')
				.addEventListener('click', () => {
					fetch('/deconnexion/client', { method: 'POST' })
						.then((response) => {
							if (response.ok) {
								// Redirect the user to the login page after logging out
								window.location.href = '/connexion';
							} else {
								console.error('Échec de la déconnexion');
							}
						})
						.catch((error) => {
							console.error(
								'Erreur lors de la déconnexion:',
								error
							);
						});
				});

			const cancelButton = document.getElementById('cancel-button');

			cancelButton.addEventListener('click', function () {
				window.history.back(); // Revenir à la page précédente
			});
		</script>
	</body>
</html>
