.selected-hour {
	background-color: #007bff; /* Couleur de fond bleue */
	color: #fff; /* Texte en blanc */
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
	background-color: #fff;
	margin: auto;
	margin-top: 10%;
	padding: 20px;
	border: 1px solid #888;
	width: 100px;
}

.close-modal {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 24px;
	cursor: pointer;
}

.profile-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px; /* Largeur du bouton rond */
	height: 100px; /* Hauteur du bouton rond */
	border-radius: 50%; /* Bordure arrondie pour créer un bouton rond */
	color: #fff; /* Couleur du texte (icône de profil) */
	font-size: 24px; /* Taille de la police de l'icône de profil */
	cursor: pointer; /* Curseur de type main pour indiquer que c'est cliquable */
	position: absolute;
	top: 20px; /* Position verticale du bouton (ajustez selon vos besoins) */
	right: 20px; /* Position horizontale du bouton (ajustez selon vos besoins) */
}
