/* Styles pour le calendrier */
.fc-content {
	border-radius: 10px; /* Bordures arrondies */
}

.fc-day,
.fc-day-top,
.fc-day-header {
	border-radius: 50%; /* Cases rondes */
}

/* Style pour la mise en évidence de la case cliquée */
.selected-date {
	background-color: #2196f3; /* Couleur bleue (à personnaliser) */
	border-radius: 50%; /* Bordure arrondie pour la case sélectionnée */
	color: white;
}
